
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background: #111;
	color: #aaa;
}

html, body {
	height: 100%;
}

h1 {
	text-align: center;
}

.widget {
	font-size: 2em;
	margin: auto;
	width: max-content;
}

.widget * {
	font-size: 1em;
	padding: 0.5em;
}

input {
	background: #222;
	border: 1px solid currentColor;
	border-radius: 1em;
	color: currentColor;
}
